<div class="header">
  <a class="logo"><img src="./../../../assets/icons/logo.png" ></a>
  <div class="header-right">
    <ul>
      <li><a>Jobs</a></li>
      <li><a>About Jobket</a></li>
      <li><a>FAQ</a></li>
    </ul>
    <button class="active">Login</button>
    <button>Sign Up</button>
  </div>
  <div class="">
   <div class="row txt-refer">
     <div class="col-md-1 col-xs-1 col-sm-1">

     </div>
     <div class="col-md-4 col-xs-4 col-sm-4">
        Refer and Get<br>rewards!
     </div>
   </div>
  </div>
</div>
