<footer class="ct-footer">
  <div class="container-fluid">
      <div class="row">
          <div class="col-md-4 col-sm-4 col-xs-4">
                <div class="divider"></div>
          </div>
          <div class="col-md-4 col-sm-4 col-xs-4">
              <div class="row">
                  <div class="col-xs-3 col-sm-3">
                        <img src="./../../../assets/icons/cat.png">
                  </div> 
                  <div class="col-xs-9 col-sm-9" syle="margin-top:10px">
                        <span class="Let-text m1">Let's Get Started</span>
                  </div>
              </div> 
        </div>
      </div>   
  </div>
  <p class="p1">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent efficitur, nunc nec volutpat imperdiet
      ex enim convallis leo, non imperdiet eros ipsum fringilla purus. Curabitur feugiat placerat accumsan.
       Praesent nec orci volutpat sapien fringilla rutrum.</p>
    <div class=" grp-input">
    <div class="col-sm-4 input-box">
            <div class="inner-addon left-addon">
                    <i class="glyphicon glyphicon-user"></i>      
                    <input type="text" class="form-control" placeholder="Username" />
                  </div>
    </div>
    <div class="col-sm-4 input-box">
    <div class="inner-addon left-addon">
            <i class="glyphicon fa fa-envelope"></i>      
            <input type="text" class="form-control" placeholder="Email" />
          </div>
    </div>
    <div class="col-sm-4 input-box">
            <div class="inner-addon left-addon">
                    <i class="glyphicon glyphicon-user"></i>      
                    <input type="text" class="form-control" placeholder="Subject" />
                  </div>
    </div>
</div>

</footer>
 